/* Component styles */

.flex_0 {
  display: flex;
  min-height: 96px;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--radius-xl);
  background-color: #f5f5f5;
  padding-inline: calc(var(--spacing) * 4);
  padding-block: calc(var(--spacing) * 4);
}

.flex_1 {
  display: flex;
  align-items: center;
  gap: var(--spacing);
}

.relative_2 {
  position: relative;
  height: calc(var(--spacing) * 5);
  width: calc(var(--spacing) * 5);
  flex-shrink: 0;
  overflow: hidden;
  border-radius: var(--radius-sm);
  background-color: var(--color-white);
}

.object_contain_3 {
  object-fit: contain;
}

.text_xs_4 {
  font-size: 12px;
  line-height: var(--tw-leading, 16px);
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  --tw-leading: 18px;
  line-height: 18px;
  color: #121212;
}

.relative_5 {
  position: relative;
  height: calc(var(--spacing) * 4);
  width: calc(var(--spacing) * 4);
  flex-shrink: 0;
}

.text_xs_6 {
  font-size: 12px;
  line-height: var(--tw-leading, 16px);
  --tw-font-weight: var(--font-weight-normal);
  font-weight: var(--font-weight-normal);
  --tw-leading: 18px;
  line-height: 18px;
  color: #4b4b4b;
}

