/* Component styles */

.h_4_0 {
  height: calc(var(--spacing) * 4);
  width: calc(var(--spacing) * 4);
  flex-shrink: 0;
  background-color: #D16900;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.h_5_1 {
  height: calc(var(--spacing) * 5);
  width: calc(var(--spacing) * 5);
  flex-shrink: 0;
  background-color: #7a5410;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.shrink_0_2 {
  flex-shrink: 0;
  color: #a76406;
}

.clockIcon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  background-color: #a76406;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.text_xs_3 {
  min-width: 0;
  flex: 1;
  font-size: 12px;
  line-height: var(--tw-leading, 16px);
  --tw-leading: 18px;
  line-height: 18px;
  color: #7a5410;
}

.font_semibold_4 {
  --tw-font-weight: var(--font-weight-semibold);
  font-weight: var(--font-weight-semibold);
}


.next_step_shimmer_0 {
  display: flex;
  height: fit-content;
  align-items: center;
  gap: calc(var(--spacing) * 2.5);
  border-radius: var(--radius-2xl);
  border-style: var(--tw-border-style);
  border-width: 1px;
  border-color: #f3e0b6;
  padding: calc(var(--spacing) * 3);
  background-image: linear-gradient(180deg, rgba(255, 247, 229, 1) 0%, rgba(255, 255, 255, 0.8) 100%);
}
