/* Component styles */

.heroIconToppt {
  padding-top: 72px;
}

.successScreenHeadlineSubtextGap {
  gap: calc(var(--spacing) * 2);
}

.heroActionHeadlineSublineGap {
  gap: calc(var(--spacing) * 4);
}

.celebrationLottieToHeadlinemt {
  margin-top: calc(var(--spacing) * 2);
}

.heroIllustrationToCopymt {
  margin-top: calc(var(--spacing) * 8);
}
