/* Component styles */

.shrink_0_0 {
  flex-shrink: 0;
  animation: var(--animate-spin);
  color: #121212;
}
@media (prefers-reduced-motion: reduce) {
  .shrink_0_0 {
    animation: none;
  }
}

.shrink_0_1 {
  flex-shrink: 0;
}

.flex_2 {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 4);
}

.kyc_stagger_3 {
  display: flex;
  align-items: flex-start;
  gap: calc(var(--spacing) * 2.5);
}

.kyc_stagger_4 {
  margin-top: calc(var(--spacing) * 0.5);
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 2.5);
  border-top-style: var(--tw-border-style);
  border-top-width: 1px;
  --tw-border-style: dashed;
  border-style: dashed;
  border-color: #e8e8e8;
  padding-top: calc(var(--spacing) * 3);
}

.text_sm_5 {
  font-size: 14px;
  line-height: var(--tw-leading, 20px);
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  --tw-leading: calc(var(--spacing) * 5);
  line-height: calc(var(--spacing) * 5);
  color: #121212;
}

.rounded_2xl_6 {
  border-radius: var(--radius-2xl);
  padding-inline: calc(var(--spacing) * 4);
  padding-block: calc(var(--spacing) * 4);
}

.text_sm_7 {
  font-size: 14px;
  line-height: var(--tw-leading, 20px);
  --tw-leading: calc(var(--spacing) * 5);
  line-height: calc(var(--spacing) * 5);
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
  transition-duration: var(--tw-duration, var(--default-transition-duration));
  --tw-duration: 300ms;
  transition-duration: 300ms;
}

.text_757575__8 {
  color: #757575;
}

.text_121212__9 {
  color: #121212;
}

.text_sm_10 {
  font-size: 14px;
  line-height: var(--tw-leading, 20px);
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  --tw-leading: calc(var(--spacing) * 5);
  line-height: calc(var(--spacing) * 5);
}


.text_D16900__12 {
  color: #D16900;
}

.text_0c7a42__13 {
  color: #0c7a42;
}

