.body {
  min-height: 100dvh;
  font-family: var(--font-family-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shell {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 640px;
  min-height: 100dvh;
  margin-left: auto;
  margin-right: auto;
}
