/* Component styles */

.concierge_echo_in_0 {
  display: flex;
  max-width: 82%;
  align-items: center;
  gap: calc(var(--spacing) * 2);
  border-radius: var(--radius-2xl);
  border-bottom-right-radius: var(--radius-md);
  background-color: #121212;
  padding-inline: calc(var(--spacing) * 4);
  padding-block: calc(var(--spacing) * 2.5);
}

.text_sm_1 {
  font-size: 14px;
  line-height: var(--tw-leading, 20px);
  --tw-font-weight: var(--font-weight-normal);
  font-weight: var(--font-weight-normal);
  --tw-leading: calc(var(--spacing) * 5);
  line-height: calc(var(--spacing) * 5);
  color: var(--color-white);
}

.shrink_0_2 {
  flex-shrink: 0;
}

.flex_3 {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

