/* Component styles */

.relative_0 {
  position: relative;
  width: 100%;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: var(--radius-2xl);
  background-color: #f5f5f5;
}

.h_auto_1 {
  height: auto;
  width: 100%;
  object-fit: contain;
}

.mt_8_2 {
  margin-top: calc(var(--spacing) * 8);
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: calc(var(--spacing) * 3);
}

.text_xs_3 {
  font-size: 12px;
  line-height: var(--tw-leading, 16px);
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  --tw-leading: calc(var(--spacing) * 4);
  line-height: calc(var(--spacing) * 4);
  color: #0fa457;
}

.text_20px__4 {
  font-size: 20px;
  --tw-font-weight: var(--font-weight-semibold);
  font-weight: var(--font-weight-semibold);
  --tw-leading: calc(var(--spacing) * 7);
  line-height: calc(var(--spacing) * 7);
  --tw-tracking: -0.1px;
  letter-spacing: -0.1px;
  color: #121212;
}

.text_sm_5 {
  font-size: 14px;
  line-height: var(--tw-leading, 20px);
  --tw-font-weight: var(--font-weight-normal);
  font-weight: var(--font-weight-normal);
  --tw-leading: calc(var(--spacing) * 5);
  line-height: calc(var(--spacing) * 5);
  color: #4b4b4b;
}

.fixed_6 {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
  border-top-style: var(--tw-border-style);
  border-top-width: 1px;
  border-color: transparent;
  background-color: var(--color-white);
  padding-inline: calc(var(--spacing) * 5);
  padding-top: calc(var(--spacing) * 3);
}

.mx_auto_7 {
  margin-inline: auto;
  width: 100%;
  max-width: 640px;
}


.mainBottomPadding {
  padding-bottom: calc(0.75rem + 48px + max(1.25rem, env(safe-area-inset-bottom)));
}

.mx_auto_0 {
  margin-inline: auto;
  display: flex;
  min-height: 0px;
  width: 100%;
  max-width: 640px;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
  padding-inline: calc(var(--spacing) * 5);
  padding-top: calc(var(--spacing) * 2);
}
