/* Component styles */

.relative_0 {
  position: relative;
  display: flex;
  height: 100dvh;
  flex-direction: column;
  overflow: hidden;
  background-color: #F7FAFF;
  font-family: "Euclid Circular B", -apple-system, BlinkMacSystemFont, sans-serif;
}

