/* Component styles */

.flex_0 {
  display: flex;
  height: 110px;
  width: 100%;
  align-items: center;
  gap: calc(var(--spacing) * 3);
  overflow: hidden;
  border-radius: var(--radius-2xl);
  background-color: var(--color-white);
  padding-inline: calc(var(--spacing) * 3);
}

.relative_1 {
  position: relative;
  height: calc(var(--spacing) * 12);
  width: 84px;
  flex-shrink: 0;
  overflow: hidden;
}

.object_contain_2 {
  object-fit: contain;
  object-position: center;
}

.min_w_0_3 {
  min-width: 0px;
  flex: 1;
  padding-block: calc(var(--spacing) * 3);
}

.text_sm_4 {
  font-size: 14px;
  line-height: var(--tw-leading, 20px);
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  --tw-leading: calc(var(--spacing) * 5);
  line-height: calc(var(--spacing) * 5);
  color: #121212;
}

.mt_0_5_5 {
  margin-top: calc(var(--spacing) * 0.5);
  font-size: 12px;
  line-height: var(--tw-leading, 16px);
  --tw-leading: 18px;
  line-height: 18px;
  color: #4b4b4b;
}

.text_xs_6 {
  font-size: 12px;
  line-height: var(--tw-leading, 16px);
  --tw-leading: 18px;
  line-height: 18px;
  color: #4b4b4b;
}

.mt_1_7 {
  margin-top: var(--spacing);
  display: flex;
  align-items: center;
  gap: var(--spacing);
}

.relative_8 {
  position: relative;
  height: calc(var(--spacing) * 4);
  width: calc(var(--spacing) * 4);
  flex-shrink: 0;
}

.h_4_9 {
  height: calc(var(--spacing) * 4);
  width: calc(var(--spacing) * 4);
  object-fit: contain;
}

.text_xs_10 {
  font-size: 12px;
  line-height: var(--tw-leading, 16px);
  --tw-font-weight: var(--font-weight-normal);
  font-weight: var(--font-weight-normal);
  --tw-leading: 18px;
  line-height: 18px;
}

