/* Component styles */

.flex_0 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.relative_1 {
  position: relative;
  height: calc(var(--spacing) * 12);
  width: calc(var(--spacing) * 12);
  flex-shrink: 0;
}

.object_contain_2 {
  object-fit: contain;
  object-position: left;
}

.mt_0_5_3 {
  margin-top: calc(var(--spacing) * 0.5);
  display: flex;
  flex-shrink: 0;
}

.mt_3_4 {
  margin-top: calc(var(--spacing) * 3);
  font-size: 16px;
  line-height: var(--tw-leading, 24px);
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  --tw-leading: calc(var(--spacing) * 6);
  line-height: calc(var(--spacing) * 6);
  color: #121212;
}

.mt_1_5 {
  margin-top: var(--spacing);
  font-size: 12px;
  line-height: var(--tw-leading, 16px);
  --tw-leading: calc(var(--spacing) * 4);
  line-height: calc(var(--spacing) * 4);
  color: #4b4b4b;
}

.mx_auto_6 {
  margin-inline: auto;
  width: 100%;
  max-width: 640px;
  padding-inline: calc(var(--spacing) * 5);
  padding-bottom: calc(7rem + env(safe-area-inset-bottom));
  padding-top: calc(var(--spacing) * 2);
}

.mt_8_7 {
  margin-top: calc(var(--spacing) * 8);
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 4);
}

.payment_success_stagger_8 {
  width: 100%;
}

.fixed_9 {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
  padding-bottom: env(safe-area-inset-bottom);
}

.mx_auto_10 {
  margin-inline: auto;
  width: 100%;
  max-width: 640px;
  background-color: var(--color-white);
  padding-inline: calc(var(--spacing) * 5);
  padding-block: calc(var(--spacing) * 4);
}

.primary_cta_11 {
  width: 100%;
}


.p_4_0 {
  padding: calc(var(--spacing) * 4);
}
