/* Component styles */

.relative_0 {
  position: relative;
  display: flex;
  width: calc(var(--spacing) * 4);
  height: calc(var(--spacing) * 4);
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.size_4_1 {
  width: calc(var(--spacing) * 4);
  height: calc(var(--spacing) * 4);
}

.flex_2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: calc(var(--spacing) * 2);
}

.mx_0_5_3 {
  margin-inline: calc(var(--spacing) * 0.5);
  height: calc(var(--spacing) * 5);
  width: 1px;
  flex-shrink: 0;
  background-color: #e8e8e8;
}

.min_w_77px__4 {
  min-width: 77px;
  justify-content: center;
}

.inline_flex_5 {
  display: inline-flex;
  height: calc(var(--spacing) * 7);
  flex-shrink: 0;
  align-items: center;
  gap: var(--spacing);
  border-radius: 32px;
  border-style: var(--tw-border-style);
  border-width: 1px;
  padding-inline: calc(var(--spacing) * 2);
  font-size: 12px;
  line-height: var(--tw-leading, 16px);
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  --tw-leading: 18px;
  line-height: 18px;
  color: #121212;
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
  transition-duration: var(--tw-duration, var(--default-transition-duration));
}
.inline_flex_5:focus-visible {
  outline-style: var(--tw-outline-style);
  outline-width: 1px;
  --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  --tw-ring-color: color-mix(in oklab, #121212 20%, transparent);
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-shadow: var(--tw-ring-inset,) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
}

.border_121212__6 {
  border-color: #121212;
  background-color: #f3f3f3;
  padding-right: var(--spacing);
}

.border_e8e8e8__7 {
  border-color: #e8e8e8;
  background-color: var(--color-white);
}
@media (hover: hover) {
  .border_e8e8e8__7:hover {
    background-color: #fafafa;
  }
}

