.identity {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 2);
  transition-property: opacity;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
  transition-duration: 300ms;
}

.metaRow {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 1.5);
}

.name {
  font-size: 14px;
  font-weight: var(--font-weight-medium);
  line-height: calc(var(--spacing) * 5);
  color: #121212;
}

.meta {
  font-size: 12px;
  line-height: calc(var(--spacing) * 4);
  color: #757575;
}
