.lead {
  /* heading-lg */
  font-size: 24px;
  line-height: 32px;
  font-weight: var(--font-weight-medium);
  letter-spacing: -0.2px;
  color: #121212;
}

.body {
  font-size: 16px;
  line-height: 24px;
  font-weight: var(--font-weight-normal);
  color: #4b4b4b;
}

.heading {
  margin-top: calc(var(--spacing) * 4);
  font-size: 16px;
  line-height: 24px;
  font-weight: var(--font-weight-medium);
  color: #121212;
}
