/* Component styles */

.flex_0 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: calc(var(--spacing) * 3);
}

.min_w_0_1 {
  min-width: 0px;
  flex: 1;
}

.flex_2 {
  display: flex;
  align-items: center;
  gap: var(--spacing);
}

.font_semibold_3 {
  --tw-font-weight: var(--font-weight-semibold);
  font-weight: var(--font-weight-semibold);
}

.relative_4 {
  position: relative;
  width: calc(var(--spacing) * 4);
  height: calc(var(--spacing) * 4);
  flex-shrink: 0;
}

.size_4_5 {
  width: calc(var(--spacing) * 4);
  height: calc(var(--spacing) * 4);
  object-fit: contain;
}

.mt_2_6 {
  margin-top: calc(var(--spacing) * 2);
  font-size: 16px;
  line-height: var(--tw-leading, 24px);
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  --tw-leading: calc(var(--spacing) * 6);
  line-height: calc(var(--spacing) * 6);
  color: #121212;
}

.mt_0_5_7 {
  margin-top: calc(var(--spacing) * 0.5);
  display: flex;
  flex-shrink: 0;
}

.p_4_8 {
  padding: calc(var(--spacing) * 4);
}

.text_sm_9 {
  font-size: 14px;
  line-height: var(--tw-leading, 20px);
  --tw-font-weight: var(--font-weight-normal);
  font-weight: var(--font-weight-normal);
  --tw-leading: calc(var(--spacing) * 5);
  line-height: calc(var(--spacing) * 5);
}

